.classpath
.pmd
.project 
*.b64
*.iml
*.cer
*.jks
*.p12
*.releaseBackup
base-example-large-*.xml
private-*.properties*
release.properties
Main*ReceiverProd.java
zz
pom.xml.versionsBackup

.idea/
.settings/ 
target/
generated/

*.code-workspace
