.classpath
.pmd
.project 
MainPhase4PeppolSenderDataportXR23.java
pom.xml.versionsBackup
release.properties
zz

*.b64
*.code-workspace
*.cer
*.iml
*.jks
*.p12
*.releaseBackup
base-example-large-*.xml
private-*.properties*
Main*ReceiverProd.java

.idea/
.settings/ 
target/
generated/
phase4-data/
.apt_generated/
.apt_generated_tests/
