<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (C) 2020-2024 Philip Helger (www.helger.com)
    philip[at]helger[dot]com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  version="3.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <description>Standalone Peppol AS4 demo server</description>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>com.helger.phase4.peppol.server.servlet.Phase4PeppolWebAppListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Phase4PeppolServlet</servlet-name>
    <servlet-class>com.helger.phase4.servlet.AS4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Phase4PeppolServlet</servlet-name>
    <url-pattern>/as4</url-pattern>
  </servlet-mapping>
</web-app>
